html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 768px) {
  .howto > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1.5rem;
  }

  .card__howto {
    width: 100%;
  }
  .card__howto span {
    margin-right: 0.5rem;
  }

  .restaurant > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1rem;
  }

  .card {
    margin-bottom: 0;
  }

  .course__container {
    display: flex;
    justify-content: space-between;
  }
  .course__container .course {
    width: 31%;
  }
}
button {
  border: none;
  border-radius: 6rem;
  background: none;
  background: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  padding: 1rem;
  box-shadow: 1px 2px 12px -1px rgba(90, 90, 90, 0.349);
}
button:hover {
  cursor: pointer;
  filter: brightness(1.05);
  box-shadow: 2px 3px 10px 0px rgba(32, 32, 32, 0.53);
}

.like__btn {
  font-size: 1.4rem;
  position: relative;
}
.like__btn--empty {
  position: absolute;
  top: -0.6rem;
  right: 0rem;
}
.like__btn--filled {
  position: absolute;
  top: -0.6rem;
  right: 0rem;
  background: transparent;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
}
.like__btn:hover .like__btn--filled {
  background: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  opacity: 100%;
  color: transparent;
  transition: all 250ms ease-in;
}
.like__btn:hover .like__btn--empty {
  visibility: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.2rem 0;
}
header img {
  height: 1.7rem;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  height: 3rem;
}
.location input {
  width: 7rem;
  border-color: transparent;
  background-color: transparent;
  text-align: center;
  font-weight: bold;
  font-size: 0.8rem;
}
.location input::placeholder {
  color: #353535;
}

.intro {
  background-color: #f6f6f6;
  padding: 2rem 1.2rem;
  text-align: center;
}
.intro h1 {
  margin: 0;
  padding: 0 1.8rem;
}
.intro h3 {
  font-weight: lighter;
}

.howto {
  padding: 2rem 1rem 2rem 1.5rem;
}
.howto .card__howto {
  height: 4.5rem;
  background-color: #f6f6f6;
  border-radius: 1.3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0.8rem 0;
  box-shadow: 1px 2px 12px -1px rgba(90, 90, 90, 0.349);
}
.howto .card__howto .number {
  text-align: center;
  line-height: 1.3rem;
  border-radius: 50%;
  background-color: #9356dc;
  width: 1.3rem;
  height: 1.3rem;
  color: white;
  font-size: 0.8rem;
  position: absolute;
  left: -0.65rem;
}
.howto .card__howto i {
  color: #7e7e7e;
  margin: 0 1.5rem;
}
.howto .card__howto:hover {
  cursor: pointer;
  background-color: #f5edff;
}
.howto .card__howto:hover i {
  color: #9356dc;
}
.howto .card__howto span {
  white-space: pre-wrap;
}

.restaurant {
  padding: 2rem 1.5rem;
}
.restaurant .card {
  border-radius: 1rem;
  box-shadow: 1px 2px 12px -1px rgba(90, 90, 90, 0.349);
  overflow: hidden;
  margin-bottom: 1rem;
}
.restaurant .card__image {
  width: 100%;
  height: 11rem;
  position: relative;
}
.restaurant .card__image img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.restaurant .card__image .card__new {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: fit-content;
  padding: 0.4rem 0.6rem;
  border-radius: 0.1rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: #0a8d6d;
  background: #99e2d0;
}
.restaurant .card__text {
  height: 4.5rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurant .card__text .card__name {
  font-size: 1.1rem;
  margin: 0 0 0.2rem 0;
}

footer {
  background-color: #353535;
  padding: 1.5rem 1.5rem;
  width: 100%;
}
footer img {
  filter: invert(100%);
  width: auto;
  height: 1rem;
  margin-bottom: 0.5rem;
}
footer nav {
  display: flex;
  flex-direction: column;
}
footer nav a {
  color: white;
  margin: 0.3rem 0;
}

.fa-arrow-left {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
}

main {
  position: relative;
}

.resto__image {
  width: 100%;
  height: 15rem;
}
.resto__image img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.menu {
  width: 100%;
  padding: 0 1rem;
  border-radius: 2rem 2rem 0 0;
  position: absolute;
  background-color: white;
  top: 13rem;
}
.menu .title {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0.7rem 0;
}
.menu .title .like__btn {
  position: absolute;
  top: 2.5rem;
  right: 1rem;
}
.menu .title h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.5rem;
}

.course {
  margin-bottom: 1.5rem;
}
.course .course__title {
  text-transform: uppercase;
  font-size: 1.1rem;
  position: relative;
}
.course .course__title::after {
  content: "";
  width: 2.5rem;
  height: 0.2rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0rem;
  bottom: -0.3rem;
}

.dish {
  align-items: center;
  margin-top: 1rem;
  box-shadow: 1px 2px 12px -1px rgba(90, 90, 90, 0.349);
  padding: 1rem 1rem;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}
.dish .detail {
  width: 100%;
  transition: all 300ms linear;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.dish .dish__title {
  font-weight: bold;
}
.dish .dish__subtitle {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}
.dish .dish__subtitle .dish__detail {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.dish .dish__price {
  font-weight: bold;
}
.dish .order__btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  border-radius: 0 1rem 1rem 0;
  background-color: #99e2d0;
  transition: all 250ms linear;
  transform-origin: right;
  transform: translate(9rem);
  text-align: center;
}
.dish .order__btn .fa-check-circle {
  color: white;
  font-size: 1.5rem;
  line-height: 70px;
}
.dish:hover .order__btn {
  transform: translate(0);
}
.dish:hover .detail {
  width: 80%;
}

/*# sourceMappingURL=style.css.map */
