footer {
  background-color: $dark-gray-color;
  padding: 1.5rem 1.5rem;
  width: 100%;

  #logo_bottom {
    font-family: 'shrikhand', cursive;
    font-size: 1.2rem;
    color: white;
  }
  nav {
    margin-top: 1.2rem;
    display: flex;
    flex-direction: column;

    a {
      color: white;
      margin: 0.3rem 0;

      i {
        margin-right: 0.3rem;
      }
    }
  }
}
