.howto {
  padding: 2rem 1rem 2rem 1.5rem;

  .card__howto {
    height: 4.5rem;
    background-color: $light-gray-color;
    border-radius: 1.3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    margin: 1.5rem 0;
    box-shadow: $box-shadow;

    .number {
      text-align: center;
      line-height: 1.3rem;
      border-radius: 50%;
      background-color: $primary-color;
      width: 1.3rem;
      height: 1.3rem;
      color: white;
      font-size: 0.8rem;
      position: absolute;
      left: -0.65rem;
    }

    i {
      color: #7e7e7e;
      margin: 0 1.5rem;
    }

    &:hover {
      cursor: pointer;
      background-color: #f5edff;
    }

    &:hover i {
      color: $primary-color;
    }
  }
}
