.location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $medium-gray-color;
  height: 3rem;

  input {
    width: 9rem;
    border-color: transparent;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    &::placeholder {
      color: $dark-gray-color;
    }
  }
}

.intro {
  background-color: $light-gray-color;
  padding: 2rem 1.2rem;
  text-align: center;

  h1 {
    margin: 0;
    padding: 0 1.8rem;
    font-size: 1.5rem;
  }

  h3 {
    font-weight: lighter;
  }
}
